extends layout

block content
    div(style = "display:flex")
        div(class = "col-lg-3 col-sm-3 col-xs-3")
        div(class = "col-lg-3 col-sm-3 col-xs-3")
            p #{result}
            form(action = "/" method = "GET")
                button(class = "btn btn-primary") Home
        div(class = "col-lg-3 col-sm-3 col-xs-3")