extends layout

block content
    div(style= "display:flex")
        div(class = "col-lg-3 col-md-3 col-sm-1 col-xs-1")
        div(class = "col-6")
            div(style= "display:flex")
                div(class = "col-3")
                h1(class = "col-6") Please Register
                div(class = "col-3")
            p(style = "height: 20px")
            div(style= "display:flex")
                div(class = "col-3")
                form(action="/registerUser" class="col-6" method="post")
                    input(type="text" placeholder ="username" name = "username")
                    p
                    input(type="password" placeholder ="password" name = "password") 
                    p
                    button(class="btn btn-primary" style="width:200px") Submit
                div(class = "col-3")
        div(class = "col-5")