meta(charset="utf-8")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
script(src = "https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js")
meta(name="viewport" content="width=device-width + 100, initial-scale=1.0")
//- script(src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js")
body
    div(id = "main")
        div(id = "userListContainer" class = "col-lg-3 col-md-3 col-sm-3 col-xs-3")
            div(id = "userListInner")
                br
                div(id = "profile")
                    div(style = "display:flex")
                        div(class = 'col-2')
                        h3(class = "col-8" id = "username" style = "text-align: center") #{username}
                        div(class = 'col-2')
                h5(id = "h5Div" style = "text-align: center") Group Conversations
                button(class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary" id = "findUsersButton" style = "margin-top: 3%") Global Chat
                h5(id = "h5Div" style = "text-align: center") Active Users
                div(id = "searchContainer" style = "display: flex")
                div(id = "userList")
        div(id = "chatBoxContainer" class = "col-lg-6 col-md-6 col-sm-8 col-xs-8")
            div(id = "chatBoxInner")
                br
                h3(id = "title" style = "text-align: center") Global Chat
                h5(id = "activeHeader" style = "text-align: center") There are 0 other users connected
                div(id = "chat" style = "overflow:auto")
                    div(id = "global" style = "display:block")
                p(id = "typingIndicator" style = "height: 30px")
                div(id = "input" class = "input-group mb-3")
                    textarea(id = "sendMessageText" type = "text" class = "form-control" placeholder = "Enter Here To Send a Message" name = "html" onkeypress = "pressCode(event)")
                    div(class = "input-group-append")
                        button(id = "sendMessageButton" class = "btn btn-outline-secondary" type = "button") Send
script(src = "javascripts/sockets.js")