extends layout

block content
    script(src = "https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js")
    //- script(src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js")
    body(onload = "init()")
    div(style = "display:flex")
        div(class = "col-lg-3 col-xs-3")
        div(class = "col-lg-6 col-xs-6 jumbotron")
            h3 Welcome to the chat
            h5(id="name") #{username}
            div(id = "text" style= "border: solid; height: 250px; overflow:auto;")
            p 
            input(type = "text" id="textBox")
            button(class = "btn btn-primary" id = "but") Send
        div(class = "col-lg-3 col-xs-3")
    script(src = "javascripts/sockets.js")